/* Checkout
---------------------------------------- */
.checkout-container form {
    width: auto;
    max-width: none;

    /* Order Summary
    --------------------------------------- */
    .checkout-order-summary {
        table {
            width: 100%;
        }

        .text-right {
            text-align: right;
        }

        .total td {
            font-size: 2em;
            color: #b80000;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
}

/* Checkout Login Form
---------------------------------------- */
#CheckoutLoginForm_LoginForm {
    position: relative;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    #CheckoutLoginForm_LoginForm_action_dologin {
        float: right;
        margin-left: 3em;
    }
    #ForgotPassword {
        float: left;
        line-height: 2.5em;
    }

    @media screen and (max-width: 480px) {
        #CheckoutLoginForm_LoginForm_action_dologin,
        #ForgotPassword {
            float: left;
            margin-right: 2em;
        }
    }
}